body {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Vidaloka', serif;
  float: right;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.wrapit {
  float: right;
  font-size: 150px;
}

.wrapit2 {
  float: right;
  font-size: 150px;
}

section {
  margin: 100px;
  margin-bottom: 100px;
  border: none !important;
}

.answer {
  display: none;
}

.swiftimg {
  border-radius: 50%;
  max-width: 200px;
  float: left;
}

.pythonimg {
  max-width: 200px;
  float: left;
  margin-right: 15px;
}

.rubyimg {
  border-radius: 50%;
  max-width: 200px;
  float: left;
}

.nothingimg {
  float: left;
  border-radius: 50%;
}

#results {
  margin-top: 50px;
  margin-bottom: 100px;
}
